In [1]:
import pandas as pd
import cpi #library for inflation-data

In [2]:
dataset_raw = pd.read_csv('C:/Users/admin1/Documents/GitHub/ds22_project/data/movies.csv')
dataset_raw.head(2)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"

In [3]:
def convert_to_usd(amount):
    amount.replace(' ', '')
    amount.replace('\xa0', '')
    if amount.startswith('$'):
        amount = amount.strip('$').replace(',', '')   # must remove commas
        return float(amount)   # convert str into float
    elif amount.startswith('€'):
        # Exchange rate for EUR to USD
        amount = amount.strip('€').replace(',', '')
        return float(amount) * 1.06 
    elif amount.startswith('¥'):
        # Exchange rate for YEN to USD
        amount = amount.strip('¥').replace(',', '')
        return float(amount) * 0.0075
    elif amount.startswith('₹'):
        # Exchange rate for RPL to USD
        amount = amount.strip('₹').replace(',', '')
        return float(amount) * 0.012 
    elif amount.startswith('SEK'):
        # Exchange rate for SEK to USD
        amount = amount.strip('SEK').replace(',', '')
        return float(amount) * 0.094
    elif amount.startswith('DKK'):
        # Exchange rate for RPL to USD
        amount = amount.strip('DKK').replace(',', '')
        return float(amount) * 0.14
    elif amount.startswith('£'):
        # Exchange rate for RPL to USD
        amount = amount.strip('£').replace(',', '')
        return float(amount) * 1.21  
    else:
        return None

In [4]:
# 7. Applying the conversion function
dataset_raw['Budget'] = dataset_raw['Budget'].apply(convert_to_usd)
dataset_raw['Income'] = dataset_raw['Income'].apply(convert_to_usd)

In [6]:
dataset_raw.head()

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,350000000.0,2.267947e+09,United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,35000000.0,1.089670e+05,"United States, Mexico, France"
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,85900000.0,2.392686e+08,"Japan, United States"
3,The Banshees of Inisherin,7.8,2022,November,R,114,Martin McDonagh,"Colin Farrell, Brendan Gleeson, Kerry Condon, ...","Comedy, Drama",Ireland,NaN,1.972082e+07,"Ireland, United Kingdom, United States"
4,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,12000000.0,1.712539e+08,United States

In [7]:
dataset_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2000 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               2000 non-null   int64
 3   Month              2000 non-null   object
 4   Certificate        1966 non-null   object
 5   Runtime            2000 non-null   object
 6   Directors          2000 non-null   object
 7   Stars              2000 non-null   object
 8   Genre              2000 non-null   object
 9   Filming_location   2000 non-null   object
 10  Budget             1686 non-null   float64
 11  Income             1855 non-null   float64
 12  Country_of_origin  2000 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 203.2+ KB

### Adjusting income & budget based on realease year and inflation
Why? Otherwise will newrealses have a bigger inpact on the model than older ones.
Since the inflation isn´t linear, I found a librar called cpi, where you give year and amount and get back how much that would be in dollars in 2022(guess thats when the library is from and not yet updated but not a biggie for our model)

In [ ]:
#loop through the rows in the dataset
for index, row in dataset_raw.iterrows():
    # calculate the budget with inflation included
    budget_inf = cpi.inflate(row['Budget'], row['Year'])
    # save the result in a new column named 'budget_inf'
    dataset_raw.at[index, 'budget_inf'] = budget_inf
    
    # calculate the income with inflation included
    income_inf = cpi.inflate(row['Income'], row['Year'])
    # save the result in a new column named 'income_inf'
    dataset_raw.at[index, 'income_inf'] = income_inf

In [ ]:
dataset_raw.head(120)