In [1]:
import pandas as pd

In [2]:
dataset_raw = pd.read_csv('C:/Users/admin1/Documents/GitHub/ds22_project/data/movies.csv')
dataset_raw.head(2)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"

In [3]:
def one_hot_coding_binary(dataset, original_column, new_column, file_column, file_location, seperator = ", "):
    
    # 1. Only keeping the first director
    dataset[new_column] = dataset[original_column].str.split(seperator).str[0]

    # 2. Dropping the original column
    dataset.drop(columns=[original_column], inplace=True)

    # 1. Importing top directors dataset
    dataset_directors = pd.read_csv(file_location)

    # 2. If Director is in dataset_directors, replace name with 1
    # else replace name with 0
    replace = dataset[new_column].isin(dataset_directors[file_column])
    dataset[new_column] = replace.astype(int)
    
    return dataset

dataset_new = one_hot_coding_binary(dataset_raw, "Directors", "Top_50_Director", "Name", "C:/Users/admin1/Documents/GitHub/ds22_project/data/top_50_directors.csv")

In [4]:
dataset_new.head(122)

,Title,Rating,Year,Month,Certificate,Runtime,Stars,Genre,Filming_location,Budget,Income,Country_of_origin,Top_50_Director
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States,1
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France",1
2,Bullet Train,7.3,2022,August,R,127,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,"$85,900,000","$239,268,602","Japan, United States",0
3,The Banshees of Inisherin,7.8,2022,November,R,114,"Colin Farrell, Brendan Gleeson, Kerry Condon, ...","Comedy, Drama",Ireland,Unknown,"$19,720,823","Ireland, United Kingdom, United States",0
4,M3gan,6.4,2022,December,PG-13,102,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,"$12,000,000","$171,253,910",United States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Nobody,7.4,2021,March,R,92,"Bob Odenkirk, Aleksey Serebryakov, Connie Niel...","Action, Crime, Drama",Canada,"$16,000,000","$57,510,518","United States, Japan, China",0
118,Nightmare Alley,7.0,2021,December,R,150,"Bradley Cooper, Cate Blanchett, Toni Collette,...","Crime, Drama, Thriller",USA,"$60,000,000","$39,629,195","United States, Mexico, Canada",1
119,Eternals,6.3,2021,November,PG-13,156,"Gemma Chan, Richard Madden, Angelina Jolie, Sa...","Action, Adventure, Fantasy",Spain,"$200,000,000","$402,064,899",United States,0
120,8-Bit Christmas,6.7,2021,November,PG,97,"Winslow Fegley, Neil Patrick Harris, Steve Zah...","Comedy, Family",Canada,Unknown,Unknown,United States,0
121,The Worst Person in the World,7.8,2021,October,R,128,"Renate Reinsve, Anders Danielsen Lie, Herbert ...","Comedy, Drama, Romance",Norway,"€ 5,000,000","$12,678,166","Norway, France, Sweden, Denmark",0